<div class="container mt-5">
  <h1 class="text-info text-center font-weight-bold">Observatorio Universitario de Derechos Humanos</h1>
  <p class="font-weight-normal text-justify">El homicidio es  uno de los principales hechos violatorios al derecho a la vida.
En los últimos años, la incidencia de estas muertes violentas ha caracterizado la situación de vulnerabilidad de la población salvadoreña respecto a este derecho.
Hasta el 31 de diciembre de 2020, El Salvador registró 1,341 homicidios, siendo San Salvador el departamento con la cifra más elevada de estos hechos.
Encuentra esta y otra información en nuestras bases de datos </p>

<p class="font-weight-normal text-justify">Esta es una herramienta ideal de investigación cuyo objetivo es dar recompilar y clasificar informacion de diferentes periodicos digitales para la realización de investigaciones especializadas u otras actividades relacionadas a la promoción y defensa de los derechos humanos.   Dicha información está sistematizada a través de un monitoreo de medios de comunicación permanente de los principales periódicos de El Salvador. Finalmente, para obtener los resultados, se puede acceder a través de un buscador con el que es posible hacer rastreos específicos con términos claves, por ejemplo: fecha de la noticia, departamento o municipio donde ocurrieron los hechos, tema, hechos violatorios, edad, población vulnerada, entre otras variables.</p>
</div>

