<main class="search-engine">
  <header class="container">
    <h1 class="text-center py-5">BUSCADOR DE NOTICIAS</h1>
    <form>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Buscar por categoria</mat-label>
        <input
          [formControl]="searchControl"
          matInput
          placeholder="Homicidio"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <div class="w-100 d-flex justify-content-between">
        <mat-form-field class="w-32" appearance="outline">
          <mat-label>Filtro por fecha</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" name="date_start" [(ngModel)]="date_start" />
            <input matEndDate placeholder="End date"  name="date_end" [(ngModel)]="date_end" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field class="w-32" appearance="outline">
          <mat-label>Indicadores aplicables</mat-label>
          <mat-select [(value)]="indicatorsSet">
            <mat-option value="id1">Derecho a la vida</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-32" appearance="outline">
          <mat-label>Modo de rendimiento</mat-label>
          <mat-select [(value)]="highPerformance">
            <mat-select-trigger>
              <img
                ngSrc= "{{ highPerformance === 'accurate' ? '../../../assets/sparkler-high.png' :  '../../../assets/sparkler.png'}}"
                alt="Low Priority"
                title="Alto Rendimiento"
                class="priority-indicator-hp mx-1"
                height="512" width="512"/>
              <span>{{highPerformance === "accurate" ? "Alto Rendimiento" : "Rendimiento Estandar"}}</span>
            </mat-select-trigger>
            <mat-option value="accurate"><div class="d-flex align-items-center">
              <img
                ngSrc="../../../assets/sparkler-high.png"
                alt="Low Priority"
                title="Alto Rendimiento"
                class="priority-indicator-hp mx-1"
                height="512" width="512"/>
              Alto Rendimiento
            </div></mat-option>
            <mat-option value="standard"><div class="d-flex align-items-center">
              <img
                ngSrc="../../../assets/sparkler.png"
                alt="Low Priority"
                title="Rendimiento Estandar"
                class="priority-indicator-hp mx-1"
                height="512" width="512"/>
              Rendimiento Estandar
            </div></mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button
        class="search-btn"
        mat-flat-button
        color="primary"
        (click)="onSearch()"
      >
        BUSCAR
      </button>
    </form>
  </header>
  <div class="cards-container container">
    <div *ngFor="let new of news" class="new-card py-4">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img
              mat-card-image
              width="40px"
              [src]="iconMapper.get(new.source)"
              alt="Photo of a Shiba Inu"
            />
          </div>
          <mat-card-title>{{ new.title.substring(0, 45) }}...</mat-card-title>
          <mat-card-subtitle>Etiqueta: {{ new.tag }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="m-0">{{ new.text.substring(0, 100) }}...</p>
          <span [ngSwitch]="new.sheet?.priority">
            <img
              *ngSwitchCase="3"
              src="../../../assets/sparkler-high.png"
              alt="Low Priority"
              title="Alto Rendimiento"
              class="priority-indicator"
            />
            <img
              *ngSwitchCase="1"
              src="../../../assets/User-Edit.png"
              alt="High Priority"
              title="Modificado Por el Usuario"
              class="priority-indicator"
            />
            <img
              *ngSwitchCase="2"
              src="../../../assets/User-Verification.png"
              alt="Medium Priority"
              title="Verificado por el usuario"
              class="priority-indicator"
            />
            <img
              *ngSwitchCase="4"
              src="../../../assets/sparkler.png"
              alt="Lowest Priority"
              title="Analisis de rendimiento estandar"
              class="priority-indicator"
            />
          </span>
        </mat-card-content>
        <mat-card-actions class="mt-auto">
          <app-button-read></app-button-read>
          <button (click)="openDialogModifySheet('0ms', '0ms', new)"  mat-flat-button>Reporte</button>
          <a href="{{ new.url }}" target="_blank" class="ml-auto">
            <img
              src="../../../assets/external-link.png"
              alt="Lowest Priority"
              title="Analisis de rendimiento estandar"
              height="15"
              width="15"
            />
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="new-card py-4">
      <mat-card *ngIf="loaderInServices">
        <div class="loader m-auto"></div>
        <p class="text-center">Generando ficha..</p>
      </mat-card>
    </div>
  </div>
</main>

<!--
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md">
      <h2>FILTROS</h2>
    </div>
    <div class="col-lg-10">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="searchTerm" (keyup)="onSearch()">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="onSearch()">Buscar</button>
        </div>
      </div>
      <div *ngIf="results && results.length" class="">
        <div class="card bg-light border-info mb-3" *ngFor="let item of results">
          <div class="card-header">
            <h3 class="card-title text-info">{{ item.title }}</h3>
          </div>
          <div class=" card-body " >
            <h5 class="card-subtitle mb-2 text-muted">{{ item.source }}</h5>
            <p class="card-text text-justify">{{ item.text }}</p>
            <span class="badge badge-primary">{{ item.tag }}</span>
          </div>
        </div>
      </div>
      <p *ngIf="results && !results.length" class="text-muted">No se encontraron resultados.</p>
    </div>

  </div>
</div>
-->
