<nav class="nav-bar pt-2">
  <div class="w-100">
    <div class="container d-flex align-items-center justify-content-center">
      <div class="d-flex">
        <h1>OUD</h1>
        <h1>H</h1>
      </div>
      <button mat-button class="mx-2">Instrucciones</button>
      <button routerLink="/Buscar-Noticias" mat-button class="mx-2">
        Buscar Noticias
      </button>
      <button routerLink="/Noticias-Guardadas" mat-button class="mx-2">
        Guardados
      </button>
      <button routerLink="/Indicadores" mat-button class="mx-2">
        Indicadores
      </button>
      <button mat-button class="mx-2">Acerca de</button>
    </div>
  </div>
</nav>
