<div>
  <div class="container d-flex justify-content-end mt-4">
    <mat-form-field appearance="outline">
      <mat-label>Indicador Activo</mat-label>
      <mat-select (selectionChange)="changeSetting()" [(value)]="currentSetting">
        <mat-option *ngFor="let indicatorList of indicatorsAvailable" [value]="indicatorList.id">{{ indicatorList.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <form [formGroup] = "indicatorForm" class="container">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column justify-content-center">
        <h2 class="p-0 m-0">Indicadores activos para: {{ currentIndicators?.name }}</h2>
      </div>
      <div class="row justify-content-end mb-3 mt-3">
        <div class="d-flex gap-2">
          <button mat-raised-button color="primary"
                  class="Add-button">Cambiar nombre</button>
          <button mat-raised-button color="primary"
                  class="Add-button">Nuevo indicador</button>
        </div>
      </div>
    </div>
    <div>
      <div formArrayName="inputs">
        <div *ngFor="let control of indicatorsForm.controls; let i = index" class="row">
          <mat-form-field appearance="outline" class="form-field full-width m-1">
            <mat-label>{{ currentIndicators.indicators[i].indicator_name }}</mat-label>
            <input [formControlName]="i" matInput [placeholder]="currentIndicators.indicators[i].indicator_name" placeholder="{{ currentIndicators.indicators[i].prompt }}" class="input-field" />
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color="primary" class="edit-button w-100" >
        Editar
      </button>
    </div>
  </form>
</div>
