  <h2 mat-dialog-title>Agregar nuevo indicador</h2>
  <mat-dialog-content class="mat-typography">
    <div class="news-card">
      <form [formGroup]="NewIndicadoresForm" class="form">
        <div class="row">
          <mat-form-field class="form-field full-width m-1">
            <mat-label>Nombre del nuevo indicador</mat-label>
            <input matInput formControlName="indicator_name" class="input-field" />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="form-field full-width m-1">
            <mat-label>Descripcion del indicador</mat-label>
            <input matInput formControlName="prompt" class="input-field" />
          </mat-form-field>
        </div>

        <div class="row justify-content-end mb-3 mt-1">
          <div class="col-auto">
            <button mat-raised-button color="primary" class="crearPrompt-button">Crear</button>
          </div>
        </div>
      </form>
    </div>


  </mat-dialog-content>
  <!--
    <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial>Install</button>
  </mat-dialog-actions>

  -->


