
<div class="container w-auto">
  <h2 mat-dialog-title>Agregar nuevo indicador</h2>
  <mat-dialog-content class="mat-typography">
    <div class="news-card">
      <form [formGroup]="NewIndicadorForm" class="form" (ngSubmit)="createNewPrompt()">
        <div class="row">
          <mat-form-field class="form-field  m-1 w-auto">
            <mat-label>Nombre del nuevo indicador</mat-label>
            <input matInput formControlName="indicator_name" [disabled]="false" class="input-field" />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="form-field m-1 w-auto">
            <mat-label>Descripcion del indicador</mat-label>
            <textarea matInput formControlName="description" [disabled]="false" class="input-field"></textarea>
          </mat-form-field>
        </div>

        <div class="row justify-content-end mb-3 mt-1">
          <div class="col-auto">
            <button mat-button color="primary" type="submit" class="crearPrompt-button" >Crear</button>
          </div>
        </div>
      </form>
    </div>


  </mat-dialog-content>
</div>

