<h2 mat-dialog-title class="m-0">Crear indicador</h2>
<hr>
<mat-dialog-content>
  <form [formGroup]="settingForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="indicator_name" placeholder="Eg: Agresor">

    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Prompt</mat-label>
      <input matInput formControlName="prompt" placeholder="Eg: Extrae el Agresor de la noticia">
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="saveForm()">Crear</button>
  <button mat-flat-button mat-dialog-close cdkFocusInitial>Cerrar</button>
</mat-dialog-actions>
